{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@LlmChain/icon.svg', { y: 18 }) }}
        <span class="sf-toolbar-value">{{ collector.llmCallCount }}</span>
        <span class="sf-toolbar-info-piece-additional-detail">
            <span class="sf-toolbar-label">calls</span>
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <div class="sf-toolbar-info-piece">
                <b class="label">Configured LLMs</b>
                <span class="sf-toolbar-status">{{ collector.llmCalls|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b class="label">LLM Calls</b>
                <span class="sf-toolbar-status">{{ collector.llmCallCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b class="label">Registered Tools</b>
                <span class="sf-toolbar-status">{{ collector.tools|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b class="label">Tool Calls</b>
                <span class="sf-toolbar-status">{{ collector.toolCalls|length }}</span>
            </div>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@LlmChain/icon.svg', { y: 16 }) }}</span>
        <strong>LLM Chain</strong>
        <span class="count">{{ collector.llmCallCount }}</span>
    </span>
{% endblock %}

{% macro tool_calls(toolCalls) %}
    Tool call{{ toolCalls|length > 1 ? 's' }}:
    <ul>
        {% for toolCall in toolCalls %}
            <li>
                <strong>{{ toolCall.name }}({{ toolCall.arguments|map((value, key) => "#{key}: #{value}")|join(', ') }})</strong>
                <i>(ID: {{ toolCall.id }})</i>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block panel %}
    <h2>LLM Chain</h2>
    <section class="metrics">
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.llmCalls|length }}</span>
                <span class="label">Configured LLMs</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.llmCallCount }}</span>
                <span class="label">LLM Calls</span>
            </div>
        </div>
        <div class="metric-divider"></div>
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.tools|length }}</span>
                <span class="label">Registered Tools</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.toolCalls|length }}</span>
                <span class="label">Tool Calls</span>
            </div>
        </div>
    </section>
    <h3>LLM Calls</h3>
    {% if collector.llmCallCount %}
        <div class="sf-tabs">
            {% for llm, calls in collector.llmCalls %}
                <div class="tab {{ calls|length == 0 ? 'disabled' }}">
                    <h3 class="tab-title">{{ llm }} <span class="badge">{{ calls|length }}</span></h3>
                    <div class="tab-content">
                        {% for call in calls %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Call {{ loop.index }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Messages</th>
                                        <td>
                                            <ol>
                                                {% for message in call.messages %}
                                                    <li>
                                                        <strong>{{ message.role.value|title }}:</strong>
                                                        {% if 'assistant' == message.role.value and message.hasToolCalls%}
                                                            {{ _self.tool_calls(message.toolCalls) }}
                                                        {% elseif 'tool' == message.role.value %}
                                                            <i>Result of tool call with ID {{ message.toolCall.id }}</i><br />
                                                            {{ message.content|nl2br }}
                                                        {% elseif 'user' == message.role.value %}
                                                            {% for item in message.content %}
                                                                {% if item.text %}
                                                                    {{ item.text|nl2br }}
                                                                {% else %}
                                                                    <img src="{{ item.url }}" />
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ message.content|nl2br }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Options</th>
                                        <td>
                                            <ul>
                                                {% for key, value in call.options %}
                                                    {% if key == 'tools' %}
                                                        <li>{{ key }}:
                                                            <ul>
                                                                {% for tool in value %}
                                                                    <li>{{ tool.name }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li>{{ key }}: {{ dump(value) }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Response</th>
                                        <td>{{ call.response.hasToolCalls ? _self.tool_calls(call.response.toolCalls) : call.response.content }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty">
            <p>No LLM calls were made.</p>
        </div>
    {% endif %}

    <h3>Tools</h3>
    {% if collector.tools|length %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Class & Method</th>
                    <th>Parameters</th>
                </tr>
            </thead>
            <tbody>
                {% for tool in collector.tools %}
                    <tr>
                        <th>{{ tool.name }}</th>
                        <td>{{ tool.description }}</td>
                        <td>{{ tool.className }}::{{ tool.method }}</td>
                        <td>
                            {% if tool.parameters %}
                                <ul>
                                    {% for name, parameter in tool.parameters.properties %}
                                        <li>
                                            <strong>{{ name }} ({{ parameter.type }})</strong><br />
                                            <i>{{ parameter.description }}</i>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <i>none</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No tools were registered.</p>
        </div>
    {% endif %}

    <h3>Tool Calls</h3>
    {% if collector.toolCalls|length %}
        {% for call in collector.toolCalls %}
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">{{ call.call.name }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ call.call.id }}</td>
                    </tr>
                    <tr>
                        <th>Arguments</th>
                        <td>{{ dump(call.call.arguments) }}</td>
                    </tr>
                    <tr>
                        <th>Response</th>
                        <td>{{ call.result|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <div class="empty">
            <p>No tool calls were made.</p>
        </div>
    {% endif %}
{% endblock %}
